<header>
    <a href="/"><h1>To-Do-App</h1></a>
</header>

{{!-- <section>
    <h2>To-Do List</h2>
    {{#each datajson}}
        {{#if completed}}
            <strike>{{name}}</strike> <br><br> 
        {{else}}
            <p>{{name}}</p>
        {{/if}}
    {{/each}}
</section> --}}

{{!-- part 1 d --}}
{{!-- <h2>Form to Submit Data</h2>
<form action="/" method="POST">
    <fieldset>
        <input type="text" name="data_input"> <br>
        <input type="submit" value="Submit!"> <br>
    </fieldset>
</form> --}}

<section>
    <a href="/register"><button><h3>Register</h3></button></a>
    <a href="/login"><button><h3>Login</h3></button></a>
</section>
