<header>
    <a href="/"><h1>To-Do-App</h1></a>
</header>

<h2>Login</h2>

<form action="/login" method="POST">
    <input class="center" type="text" placeholder="username" name="username_input"> <br>
    <input class="center" type="submit" value="Login!"> <br>
</form>