
body {
	font-family: "Open Sans", Helvetica;
}

header {
	padding: 2em 4em;
	text-align: center;
	background: linear-gradient(to right, #3366ff 0%, #33ccff 100%);
}

h1 {
	font-size: 2.25em;
	color: white;
}

h2 {
	text-decoration: underline;
    color: #3366ff;
    text-align: center;
}

h3 {
    color: #3366ff;
}

section {
	text-align: center;
	padding: 2em 10em;
}

div.ravenous {
    margin: 0;
    border: 1px solid rgb(0, 0, 0);
    width: 28em;
    margin-left: auto;
    margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    /* margin-left:auto;
    margin-right:auto; */
    text-align:center;
    padding: 0;
}

li {
	margin-bottom: 0.20em;
    /* text-align: left; */
    list-style: none;
}

.link-style {
	color: rgb(212,175,55); /*golden color*/
}

footer {
    color: #3366ff;
    /* text-align: center; */
}

a {
    text-decoration: none;
}

input {
    align-content: center;
}

.same-line {
    display: inline-block;
    margin-top: 0.5em;
}