<h2>Hello, {{username}}!</h2>

<form action="/newitem" method="POST">
    <input class="center" type="text" placeholder="new to-do item" name="todo_input"> <br>
    <input class="center" type="submit" value="Add new item">
</form>

<form action="/all-todos" method="GET">
    <section><button><h3>All to-dos</h3></button></section>
</form>

<form action="/logout" method="GET">
    <section><button><h3>Logout</h3></button></section>
</form>


